mainNav h1 span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: var(--off-color);
}
body {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  font-weight: 400;
  line-height: 1.563;
  color: var(--color);
  background-color: var(--background-color);
  caret-color: var(--caret-color);
}
.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
h1 {
  font-size: 3.052rem;
  letter-spacing: -0.1rem;
  line-height: 1;
}
h2 {
  font-size: 2.441rem;
  letter-spacing: -0.12rem;
  line-height: 1.2;
}
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
dt {
  display: block;
}
dd {
  display: block;
  margin-inline-start: 40px;
}
.info {
  padding: 1rem;
}
html {
  font-size: calc(18px + ((100vw - 600px) / 250));
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}
a {
  color: black;
  /* background: greenyellow; */
  padding: 36px;
}
